*.o
Thumbs.db
.DS_Store
aclocal.m4
config.log
configure
missing
autom4te.cache
config.status
depcomp
install-sh
Makefile
Makefile.in
.deps
.dirstamp
compile
config.h
config.h.in
config.h.in~
stamp-h1
/leslie
